# ESP-IDF SDK configuration defaults

CONFIG_IDF_TARGET_ESP32C3=y
CONFIG_IDF_TARGET="esp32c3"

#
# Bootloader config
#

#
# Log
#
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y
# end of Log
# end of Bootloader config

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
# Custom Partition Table Setup
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
# end of Serial flasher config

#
# Compiler options
#
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y
# end of Compiler options

#
# Component config
#

#
# GDB Stub
#
# CONFIG_ESP_GDBSTUB_ENABLED is not set
# end of GDB Stub


#
# ESP System Settings
#
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_160=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=160
CONFIG_ESP_SYSTEM_NO_BACKTRACE=y
# end of ESP System Settings

#
# Wi-Fi
#
# CONFIG_ESP_WIFI_ENABLE_WPA3_SAE is not set
# CONFIG_ESP_WIFI_ENABLE_WPA3_OWE_STA is not set
# CONFIG_ESP_WIFI_WPA3_COMPATIBLE_SUPPORT is not set
# CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT is not set
# end of Wi-Fi

#
# FreeRTOS
#

#
# Kernel
#
CONFIG_FREERTOS_HZ=1000
# end of Kernel
# end of FreeRTOS

#
# Log
#

#
# Log Level
#
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_DEFAULT_LEVEL=3
# end of Log Level
# end of Log

#
# LWIP
#
# CONFIG_LWIP_IPV6 is not set

#
# SNTP
#
CONFIG_LWIP_SNTP_MAX_SERVERS=3
CONFIG_LWIP_SNTP_UPDATE_DELAY=3600000
CONFIG_LWIP_SNTP_STARTUP_DELAY=y
CONFIG_LWIP_SNTP_MAXIMUM_STARTUP_DELAY=5000
# end of SNTP
# end of LWIP

#
# Certificates
#
# CONFIG_MBEDTLS_CERTIFICATE_BUNDLE is not set

#
# Certificate Bundle Configuration
#
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_NONE=y
# end of Certificate Bundle Configuration
# end of Certificates

#
# Unity unit testing library
#
# CONFIG_UNITY_ENABLE_IDF_TEST_RUNNER is not set
# end of Unity unit testing library
# end of Component config
